@import '../scss/colors.scss';
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  // height: calc(100vh - 3.75rem);
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  &> * {
    z-index: 10;
  }

  &::before,
  &::after {
    background-size: cover;
    bottom: 0;
    content: " ";
    height: 35rem;
    opacity: var(--springroll-wave-opacity);
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &::before {
    background-image: url("/svg/wave1.svg");
    @media screen and (max-width: 768px) {
      background-image: none;
    }
  }

  &::after {
    background-image: url("/svg/wave2.svg");
    @media screen and (max-width: 768px) {
      background-image: none;
    }
  }
}

.hero__inner {
  margin: 0px auto;
  max-width: 1100px;
  padding: 0px 20px;
}

.tutorial__buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.6rem;
  --ifm-button-size-multiplier: 1.6;
  z-index: 1;
  gap: 3.6rem;

  :first-child {
    background-color: $dark-mod-primary;
    border-color: $dark-mod-primary;

    &:hover {
      background-color: $dark-mod-primary-dark;
    }
  }

  :last-child {
    background-color: var(--ifm-color-secondary-dark);
    &:hover {
      background-color: var(--ifm-color-secondary-darker);
    }
  }
}

.mainLogo {
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
