@import "../../scss/colors";

.gameDemoRoot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height:60vh;
}

.gameContainer {
  background-color: transparent !important;
  height: 100%;
  width: 100%;
}

.gameHeader {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.6rem !important;
}

@mixin buttonStyles {
  height: 2.4rem;
  width: 15rem;
  border-radius: .4rem;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin: .26rem;
  transition: background-color .25s;

}

.optionButton {
  @include buttonStyles;
  color: $white;
  background-color: $primary !important;
  border-color: $primary !important;
}

.gameEvent {
  @include buttonStyles;
  background-color: #f7f7f7;
  color: $primary;
}

.gameEvents {
  color: $primary;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

