// Light mode
$primary: #095b8f;
$primary-dark: #085281;
$primary-darker: #084d7a;
$primary-darkest: #064064;
$primary-light: #0a649d;
$primary-lighter: #0a69a4;
$primary-lightest: #0c76ba;

//dark mode
$dark-primary: #04b1d8;
$dark-primary-dark: #049fc2;
$dark-primary-darker: #0396b8;
$dark-primary-darkest: #037c97;
$dark-primary-light: #04c3ee;
$dark-primary-lighter: #05ccf8;
$dark-primary-lightest: #23d3fb;

$secondary: #123550;
$accent: #0C7AC0;
$black: #293F4F;
$white: #fff;
$white-background: #F2F2F2;
$white-background-opacity: rgba(242, 242, 242, 0.5);
$selected: #979797;
$grey: #D8D8D8;
$light-label: rgba(0,0,0,0.54);
